*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding: 0%;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
}

.header__logo{
    width: 80px;
    background-color: aqua;
    margin-left: 50px ;
}

.header__navbar{
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    width: 50%;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
}

.header__navbar ul{
    list-style: none;
    text-decoration: none;
    display: flex;
}

.navbar__button{
    margin: 0px 10px 0px 10px;
    background-color: beige;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
}

.navbar__button:hover{
    background-color: aqua;
}

section{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.section__main{
    flex-direction: row;
    height: calc(100vh - 80px);
    padding-top: 20px;
}

.section__main__slider__button{
    height: 70px;
    width: 40px;
    background-color: aqua;
    margin: auto;
}

.section__main__slider{
    background-color: aqua;
    width: 80%;
}

.slider__img{
    width: 100%;
    height: 100%;
}

.section__about{
    flex-direction: column;

}

h1{
    font-size: 40px;
}

h2{
    font-size: 25px;
}

.section__about__wraper{
    display: flex;
    flex-direction: row;

}

.section__about__gallery{
    display: flex;
    background-color: aqua;
    overflow: auto;
    width: 50%;
    padding: 20px;
}

.section__about__column{
    width: 25%;
    background-color: white;

}

.section__about__info{
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 50%;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.section__products{
    flex-direction: column;

}

.section__products__wraper{
    background-color: aqua;
    display: flex;
    width: 100%;
    height: 400px;
    padding: 20px 50px 20px 50px;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}

.section__products__item{
    margin: 20px;
    background-color: white;
    width: 200px;
    height: 400px;
}

.section__products__button__wraper{
    justify-content: center;
    align-items: center;
    height: 50px;
}

.section__recipes{
    flex-direction: column;


}

.section__recipes__wraper{
    display: flex;
    height: 100%;

}

.section__recipes__main{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: aqua;
    overflow: auto;
}

.main__img{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    margin: auto;
}

.section__recipes__info{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.recipe__container{
    width: 500px;
    height: 200px;
    margin: 20px ;
    background-color: aqua;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    header{
        background-color: black;

    }

    .header__navbar{
        display: none;
    }

    .section__about__wraper{
        flex-direction: column;
    }

    .section__about__gallery{
        width: 100vw;

    }

    .section__about__info{
        width: 100%;
    }

    .section__products__item{
        width: 150px;
        height: 300px;
    }

    .section__recipes__wraper{
        flex-direction: column ;
        overflow: auto;
    }

    .section__recipes__main{
        width: 100%;
        height: 400px;
    }

    .section__recipes__info{
        width: 100%;
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    header{
        background-color: blue;
    }

    .section__main{
        height: 50vh;
    }

    .section__about{
        height: 50vh;
    }

    .section__products__wraper{
        height: 100%;
    }

    .section__products__item{
        width: 200px;
        height: 300px;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

    header{
        background-color: green;
    }

    .header__navbar{
        display: flex;
    }

    .section__about__wraper{
        flex-direction: row;
    }

    .section__about__gallery{
        width: 50%;

    }

    .section__about__info{
        width: 50%;
    }

    .section__products__wraper{
        padding: 10px;
    }

    .section__products__item{
        width: 200px;
        height: 350px;
    }

    .section__recipes__wraper{
        flex-direction: row ;
        overflow: auto;
    }

    .section__recipes__main{
        width: 50%;
        height: 100%;
    }

    .main__img{
        width: 300px;
        height: 200px;
    }

    .section__recipes__info{
        width: 50%;
    }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

    .main__img{
        width: 500px;
        height: 300px;
    }
 }